@import "breakpoints.scss";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: $square_size;
  height: $square_size;
  background-color: $bc_600;
  margin: $margin;

  @include for-medium-up {
    background-color: $bc_900;
  }
  @include for-large-up {
    background-color: $bc_1200;
  }
  @include for-last-up {
    background-color: $bc_last;
  }
}

@media screen and(orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
