@import "breakpoints.scss";

.customers {
  display: flex;
  flex-direction: column;

  @include for-desktop {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 106px;
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }

  &__row {
    display: flex;
    @include for-desktop {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height: 94px;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #e3e3e3;

    @include for-desktop {
      border: none;
    }

    &:last-child {
      border-right: none;

    }
  }

}
