@import "header.scss", "footer.scss", "headline.scss", "about.scss", "customers.scss", "features.scss", "breakpoints.scss","tips.scss","communicate.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', serif;
  font-size: 16px;
  color: #2B292D;
}

.page {
  width: 100%;
  overflow: hidden;
  @include for-desktop {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;
    min-height: 100vh;
  }

  &__top {
    background-color: #F3C6BD;
    @include for-desktop {
      background-color: #F3C6BD;
      padding-top: 39px;
    }
  }
}
