* {
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    margin: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    height: 34px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown:hover {
    opacity: 1;
}

.menu-list {
    display: none;
    position: absolute;
    top: 34px;
    color: black;
    list-style-type: none;
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    min-width: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu-item {
    padding: 16px;
}

.dropdown:hover .menu-list {
    display: block;
    z-index: 1;
    background-color: ghostwhite;
}