@import "variables.scss";

header {
  background-color: $color_header;
  height: $unit;
}

.menu {
  display: flex;
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
  list-style-type: none;
  align-items: center;
  height: $unit;
  margin-left: $unit;

  &__item {
    display: block;
    position:relative;
    margin:0;
    padding-left: 8px;
    line-height: 3em;
    color: $color_default;
    cursor: pointer;
  }

  &__item:hover {
    display: flex;
    background-color: $color_change;
    height: $unit;
    align-items: center;
  }

  &__item:hover .submenu {
    display: block;
    background-color: $color_list;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }

  &__item_active {
    color: $color_item_active;
  }
}

.submenu {
  display: none;
  position: absolute;
  color: $color_default;
  top: $size*6;
  margin: 0;
  padding: $size;
  min-width: $size*15;
  list-style-type: none;
  cursor: pointer;

  &__item:hover {
    color: black;
  }

}
