
.block {
    display : flex;
    height: 300px;
    width: 20%;
    /*justify-content: space-around;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    float: left;

}
.block_red{
    background: red;
}
.block_yellow{
    background: yellow;
}
.block_blue{
    background: blue;
}
.block_black{
    background: black;
}
.block_green{
    background: green;
}

