@import "breakpoints.scss";

.footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 130px;
  width: 1440px;
  background: #FBFBFB;

  &__up {
    @include for-sm-up {
      display: flex;
      margin-left: 160px;
    }
  }

  &-logo__text {
    width: 200px;
    height: 50px;
    background: rgba(25, 104, 252, 0.05);
  }

  &-logo__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1968FC;
  }

  &__logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-sm-up {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      margin-bottom: 40px;
      height: 50px;
      width: 250px;
    }
  }

  &-links {
    display: flex;
  }

  &-link {
    display: flex;
    margin: 40px 50px 40px 70px;


    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 50px;

      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.social-links {
  display: flex;
  margin: 40px 80px 40px 0;

  &__facebook {
    margin: 15px 20px;
  }

  &__instagram {
    margin: 15px;
  }

  &__block {
    width: 50px;
    height: 50px;
  }
}
.face{
  margin:30px 160px 0 0;
  height:100px;
  width:90px;

}

