@import 'breakpoints.scss','page-header.scss','headline.scss','reviews.scss','visit.scss','workflow.scss','features.scss','users.scss','purposes.scss','consultation.scss','stories.scss','footer.scss';
* {
  box-sizing: border-box;
}

html {
  font-family: 'Muli', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  @include for-sm-up {
    width: 1440px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png');
  }
}

h2.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  color: #11223F;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 0;
}

h2.title:after {
  background: #1968FC;
  box-shadow: 0 2px 0 #D1E1FE;
  content: "";
  height: 2px;
  width: 80px;
  margin-top: 10px;
  display: block;
}