*{
    box-sizing: border-box;
}
.articles-list{
    display: flex;
    flex-wrap: wrap;
}
.article{
    margin: 16px;
    /*height: 100px;*/
    flex-basis: 90px;
    padding:8px;
    flex-grow: 1;
    flex-shrink: 1;
    background: bisque;
    min-width: 300px;
}
header{
    display: flex;
    justify-content  : center;
}