*{
    box-sizing: border-box;
}
.articles-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type : none;
}
.article{
    margin: 8px;
    border: 0;
    padding:16px;
    flex: 1 100px;
    background: bisque;
    min-width: 300px;
    align-items: self-start;
}
header{
     text-align: center;
    /*margin: auto;*/
}