main{
    display: flex;
    flex-wrap: wrap;
}
.article{
    margin: 8px;
    padding: 16px;
    /*flex-direction: row;*/
    flex : 1 300px;
    flex-basis: 100px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    background: bisque;
    /*width: 200px;*/
}
p{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    /*min-width: 300px;*/
}
header{
    display: flex;
    justify-content  : center;
}