* {
    box-sizing: border-box;
}

.image_container {
    display: flex;
    /*flex: none;*/
    margin: 50px;
    justify-content: center;

}

.image {
    /*margin: center;*/
    max-width: 100%;
    border-radius: 20px;
}

.gallery {
    margin: 50px;
    display: flex;
    flex: none;
}

.opacity_filter {
    filter: opacity(50%);
}

.blur_filter {
    filter: blur(4px);
}

.invert_filter {
    filter: invert(100%);
}

.caption {
    line-height: 30px;
    text-align: center;
    text-transform: lowercase;
}

.card {
    margin: 16px;
    box-shadow: 0 7px 18px -8px rgba(0, 0, 0, 0.75);
}