.block{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    animation: move 2s;
    transition-timing-function: ease;
    animation-fill-mode: backwards;
    left:50%;
    top: 0;
}
@keyframes move {
    from {
        top: -100px;
    }
    to{
        top: calc(50vh - 50px);
    }
}