
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #555;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    background: repeating-linear-gradient(60deg, red, orange);
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.5em;
    background-color: #e5e5e5;
}

.img-main {
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.navigation {
    width: 100%;
    padding: 0.5em;
}

.units-list {
    line-height: 1.75em;
}

.section {
    width: 100%;
    font-size: 1.25em;
    align-items: center;
    padding: 0.5em;
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.css-units {
    background-color: #e5e5e5;
    color: #8b0000;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 100%;
    padding: 0.5em;
}

.nav-list {
    padding: 0;
}

.nav-list-item {
    background-color: #808080;
    color: #fff;
    padding-right: 0.5em;
    list-style-type: none;
    height: 2em;
    margin-bottom: 0.5em;
    line-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-list-link {
    color: #fff;
    max-width: 100%;
    text-decoration: none;
    padding: 0.5em;
}

@media screen and ( min-width: 600px) {
    .navigation {
        display: inline-block;
        width: 20%;
        padding: 0.5em;
        float: left ;
    }
    .section {
        display: inline-block;
        width: 80%;
        font-size: 1.25em;
        align-items: center;
        padding: 0.5em;
    }

}

@media screen and (min-width: 900px) {

    .section{
        width:60%;
    }
    .navigation{
        width:20%;
    }
    .news {
        width: 20%;
    }
    main {
        display: flex;
    }
}