.tooltip{
    position      : relative;
    display       : inline-block;
    margin        : 16px;
    border-bottom : 1px dotted black;
    width         : auto;
}
.tooltip .tooltip-text{
    visibility       : hidden;
    width            : 80px;
    background-color : grey;
    color            : white;
    text-align       : center;
    border-radius    : 4px;
    padding          : 8px;
    bottom           : -40px;
    position         : absolute;
    left             : 0;
}
.tooltip:hover .tooltip-text{
    visibility : visible;
    bottom: -40px;
}