*{
    box-sizing: border-box;
}
.gallery {
    display: inline-block;
    position: relative;
}

div > .image {
    float: left;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}