*{
    margin: 0;
    padding: 0;
}
div > .image {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}