.icon {
    background-image: url('sprites.png');
    margin: 100px;
    width: 100px;
    height: 100px;
    background-position-x: -200px;
}

.icon:hover {
    /*background-position-x: -200px;*/
    background-position-y: -100px;
}